html, body {
    background-color: rgba(40, 42, 54, 1) !important;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: normal;
    margin: 5px;
    padding: 0;
    height: 100%;
}
body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
        "first-div center-div"
        "second-div center-div"
        "third-div center-div";
    gap: 20px;
    min-height: 100vh;
}
.title-img{
    display: block;
    margin: 0 auto;
}
.myInfo-box {
    width: 50vh;
    height: 13vh;
    border: rgba(255, 255, 255, 0.82) 3px solid;
    border-radius: 2px;
    text-align: center;
    overflow: auto;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
}
.center-box{
    width: 140vh;
    height: 100vh;
    border: rgba(255, 255, 255, 0.82) 3px solid;
    border-radius: 2px;
    text-align: center;
    overflow: auto;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
}
.ascii-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(40, 42, 54, 0.8);
    color: #4a80d8;
    padding: 20px;
}

.surname-ascii {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    text-align: center;
    font-size: 14px;
}
.text-first-section{
    color: #4a80d8;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}
.credentials-first, .credentials-first-no-hover{
    margin-bottom: 10px;
    color: #4a80d8;
    font-size: 18px;
}
.credentials-first:hover{
    color: white;
}

.fa-linkedin{
    font-size: 30px;
}
.fa-linkedin:hover{
    color: #163d95;
}
.first-div{
    justify-content: center;
}
.projects-box{
    width: 50vh;
    height: 30vh;
    border: rgba(255, 255, 255, 0.82) 3px solid;
    border-radius: 2px;
    text-align: center;
    overflow: auto;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
}
.first-div {
    grid-area: first-div;
}

.center-div {
    grid-area: center-div;
}

.second-div {
    grid-area: second-div;
}
.third-div{
    grid-area: third-div;
}
.projects-p {
    display: inline-block;
    padding: 5px 10px;
    color: #4a80d8;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    text-decoration: none;
}

.projects-p:hover {
    background-color: rgba(255, 255, 255, 0.06);
}

.credentials-first {
    margin-bottom: 10px;
}
.tech-box {
    width: 50vh;
    height: 50vh;
    border: rgba(255, 255, 255, 0.82) 3px solid;
    border-radius: 2px;
    text-align: center;
    overflow: auto;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
}

.tech-p {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.tech-p:hover {
    background-color: rgba(255, 255, 255, 0.06);
}

.tech-box i {
    margin-right: 10px;
    color: #4a80d8;
    font-size: 20px;
}
.credentials-first2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
    max-width: 300px;
    transition: transform 0.3s;
    color: white
}
.credentials-first2:hover {
    transform: scale(1.1);
}
.social-icon {
    margin-right: 10px;
}
.social-icon {
    background: none;
    text-decoration: none;
}
.fa-github{
    font-size: 25px;
}
.orange {
    color: #FFA500;
}
.orange:hover{
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.project1-photo{
    width: 100%;
    height: auto;
    margin-top: 30vh;
    margin-bottom: 10vh;
}